<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWebApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/vue/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Worshop 2.0</a>
            <span style="padding-left:10px; padding-right: 10px"> | </span>
            <a href=/home/excelreader>Excel Reader</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>&copy; @DateTime.Now.Year MyWebApp</p>
    </footer>
</body>
</html>
